body {
    background-color: rgb(14, 68, 117);
    font: normal 15pt Arial;
}

header,
footer {
    color: white;
    text-align: center;
}

footer{
    padding-top: 50px;
}

footer p{
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    cursor: pointer;
    text-decoration: underline;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.452);
}


#photo {
    width: 350px;
    border-radius: 50%;
    height: 350px;
}

#photo:hover{
    transform: translateY(-10px);
    cursor: pointer;
    transition: 0.4s;
}

div {
    text-align: center;
    padding: 6px;
}

#message, #saudation {
    font-size: 24px;
}

#saudation:hover{
    transform: translateY(-10px);
    cursor: pointer;
    transition: 0.4s;
}

#message:hover{
    transform: translateY(-10px);
    cursor: pointer;
    transition: 0.4s;
}